.6_20 { 
	overflow:hidden;
}.e6_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:2540px;
	position:absolute;
}.e7_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-6.840881585459968e-8deg);
	color:rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
	width:586px;
	height:77px;
	position:absolute;
	left:304px;
	top:298px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e7_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:341px;
	height:31px;
	position:absolute;
	left:665px;
	top:590px;
}.e7_69 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.17000000178813934);
	position:absolute;
	left:188.360107421875px;
	top:-164px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e7_91 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
	width:299px;
	height:76px;
	position:absolute;
	left:1124px;
	top:2214px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.e7_92 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:48px;
	position:absolute;
	left:1204px;
	top:2228px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e11_87 { 
	width:419px;
	height:441px;
	position:absolute;
	left:60px;
	top:-117px;
	background-image:url(images/imageedit_5_6924501182_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_88 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:1095px;
	height:96px;
	position:absolute;
	left:304px;
	top:520px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_88 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_89 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:513px;
	height:96px;
	position:absolute;
	left:304px;
	top:751px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_89 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_90 { 
	color:rgba(144.00000661611557, 144.00000661611557, 144.00000661611557, 1);
	width:1097px;
	height:89px;
	position:absolute;
	left:326px;
	top:543px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_91 { 
	color:rgba(144.49999898672104, 144.49999898672104, 144.49999898672104, 1);
	width:542px;
	height:156px;
	position:absolute;
	left:331px;
	top:774px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_92 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:48px;
	position:absolute;
	left:314px;
	top:441px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_93 { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:48px;
	position:absolute;
	left:316px;
	top:691px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_94 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:513px;
	height:96px;
	position:absolute;
	left:886px;
	top:751px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_94 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_95 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:48px;
	position:absolute;
	left:899px;
	top:691px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_96 { 
	transform: rotate(-180deg);
	background-color:rgba(0, 0, 0, 1);
	width:34px;
	height:32px;
	position:absolute;
	left:1376px;
	top:815px;
}.e11_97 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:341px;
	height:31px;
	position:absolute;
	left:665px;
	top:1055px;
}.e11_98 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.17000000178813934);
	position:absolute;
	left:188.360107421875px;
	top:-164px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e11_99 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:1095px;
	height:96px;
	position:absolute;
	left:304px;
	top:985px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_99 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_100 { 
	color:rgba(144.00000661611557, 144.00000661611557, 144.00000661611557, 1);
	width:1097px;
	height:89px;
	position:absolute;
	left:326px;
	top:1008px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_101 { 
	color:rgba(0, 0, 0, 1);
	width:319px;
	height:48px;
	position:absolute;
	left:314px;
	top:906px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_107 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:341px;
	height:31px;
	position:absolute;
	left:665px;
	top:1305px;
}.e11_108 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.17000000178813934);
	position:absolute;
	left:188.360107421875px;
	top:-164px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e11_109 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:1095px;
	height:96px;
	position:absolute;
	left:304px;
	top:1235px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_109 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_110 { 
	color:rgba(144.00000661611557, 144.00000661611557, 144.00000661611557, 1);
	width:1097px;
	height:89px;
	position:absolute;
	left:326px;
	top:1258px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_111 { 
	color:rgba(0, 0, 0, 1);
	width:247px;
	height:48px;
	position:absolute;
	left:314px;
	top:1156px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_112 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:341px;
	height:31px;
	position:absolute;
	left:665px;
	top:1555px;
}.e11_113 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.17000000178813934);
	position:absolute;
	left:188.360107421875px;
	top:-164px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e11_114 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:1095px;
	height:96px;
	position:absolute;
	left:304px;
	top:1485px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_114 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_115 { 
	color:rgba(144.00000661611557, 144.00000661611557, 144.00000661611557, 1);
	width:1097px;
	height:89px;
	position:absolute;
	left:326px;
	top:1508px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_116 { 
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:48px;
	position:absolute;
	left:314px;
	top:1406px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_117 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:341px;
	height:31px;
	position:absolute;
	left:665px;
	top:1805px;
}.e11_118 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.17000000178813934);
	position:absolute;
	left:188.360107421875px;
	top:-164px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e11_119 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:1095px;
	height:96px;
	position:absolute;
	left:304px;
	top:1735px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_119 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_120 { 
	color:rgba(144.00000661611557, 144.00000661611557, 144.00000661611557, 1);
	width:1097px;
	height:89px;
	position:absolute;
	left:326px;
	top:1758px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_121 { 
	color:rgba(0, 0, 0, 1);
	width:330px;
	height:48px;
	position:absolute;
	left:314px;
	top:1656px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_122 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:341px;
	height:31px;
	position:absolute;
	left:665px;
	top:2055px;
}.e11_123 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.17000000178813934);
	position:absolute;
	left:188.360107421875px;
	top:-164px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e11_124 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:1095px;
	height:96px;
	position:absolute;
	left:304px;
	top:1985px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_124 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_125 { 
	color:rgba(144.00000661611557, 144.00000661611557, 144.00000661611557, 1);
	width:1097px;
	height:89px;
	position:absolute;
	left:326px;
	top:2008px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_126 { 
	color:rgba(0, 0, 0, 1);
	width:352px;
	height:48px;
	position:absolute;
	left:314px;
	top:1906px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}