.3_3 { 
	overflow:hidden;
}.e3_3 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e9_33 { 
	width:207px;
	height:204px;
	position:absolute;
	left:1045px;
	top:745px;
	background-image:url(images/imageedit_5_6924501182_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_35 { 
	width:148px;
	height:158px;
	position:absolute;
	left:1271px;
	top:756px;
	background-image:url(images/harvard_shield_wreath_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_36 { 
	width:158px;
	height:83px;
	position:absolute;
	left:1441px;
	top:756px;
	background-image:url(images/illinois_tech_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_40 { 
	width:299px;
	height:289px;
	position:absolute;
	left:724px;
	top:736px;
	background-image:url(images/harvard_shield_wreath_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_37 { 
	width:239px;
	height:204px;
	position:absolute;
	left:489px;
	top:745px;
	background-image:url(images/logo_tec_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_38 { 
	width:207px;
	height:124px;
	position:absolute;
	left:332px;
	top:745px;
	background-image:url(images/florida_gators_gator_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_39 { 
	width:168px;
	height:102px;
	position:absolute;
	left:129px;
	top:733px;
	background-image:url(images/georgia_tech_yellow_jackets_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_41 { 
	width:419px;
	height:441px;
	position:absolute;
	left:60px;
	top:-117px;
	background-image:url(images/imageedit_5_6924501182_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_42 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:780px;
	height:268px;
	position:absolute;
	left:475px;
	top:401px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:-2;
}.e5_4 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:124px;
	height:48px;
	position:absolute;
	left:971px;
	top:72px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e6_5 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:111px;
	height:48px;
	position:absolute;
	left:786px;
	top:72px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e6_6 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:86px;
	height:48px;
	position:absolute;
	left:1168px;
	top:72px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e6_7 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:275px;
	height:48px;
	position:absolute;
	left:1332px;
	top:72px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e6_8 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:158px;
	height:48px;
	position:absolute;
	left:554px;
	top:72px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}