.11_233 { 
	overflow:hidden;
}.e11_233 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e11_234 { 
	box-shadow:0px 5px 9px rgba(0, 0, 0, 0.25);
	transform: rotate(-6.840881585459968e-8deg);
	color:rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
	width:1018.0001220703125px;
	height:40.00000762939453px;
	position:absolute;
	left:384px;
	top:422px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:-2;
}.e11_235 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:901px;
	height:96px;
	position:absolute;
	left:384px;
	top:627px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.11_235 { 
	border:4px solid rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
}.e11_237 { 
	color:rgba(144.00000661611557, 144.00000661611557, 144.00000661611557, 1);
	width:1097px;
	height:89px;
	position:absolute;
	left:406px;
	top:650px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e11_242 { 
	width:419px;
	height:441px;
	position:absolute;
	left:60px;
	top:-117px;
	background-image:url(images/imageedit_5_6924501182_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_598 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
	width:192px;
	height:76px;
	position:absolute;
	left:1093px;
	top:764px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}.e75_599 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:48px;
	position:absolute;
	left:1120px;
	top:778px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}