.30_437 { 
	overflow:hidden;
}.e30_437 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e30_438 { 
	width:419px;
	height:441px;
	position:absolute;
	left:60px;
	top:-117px;
	background-image:url(images/imageedit_5_6924501182_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e30_444 { 
	box-shadow:0px 5px 9px rgba(0, 0, 0, 0.25);
	transform: rotate(-6.330177314932933e-8deg);
	color:rgba(25.425784662365913, 22.1283558011055, 187.00000405311584, 1);
	width:418px;
	height:97px;
	position:absolute;
	left:665px;
	top:493px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:-2;
}.e37_57 { 
	width:75px;
	height:80px;
	position:absolute;
	left:1441px;
	top:268px;
	background-image:url(images/settings.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e39_97 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:1160px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e39_98 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:129px;
	height:48px;
	position:absolute;
	left:548px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e46_580 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:288px;
	height:48px;
	position:absolute;
	left:774px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e75_17 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:133px;
	position:absolute;
	left:572px;
	top:734px;
	font-family:Inter;
	text-align:left;
	font-size:110px;
	letter-spacing:-7.5;
}.e75_18 { 
	color:rgba(0, 0, 0, 1);
	width:189px;
	height:93px;
	position:absolute;
	left:512px;
	top:870px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:-7.5;
}.e75_19 { 
	color:rgba(0, 0, 0, 1);
	width:63px;
	height:133px;
	position:absolute;
	left:839px;
	top:737px;
	font-family:Inter;
	text-align:left;
	font-size:110px;
	letter-spacing:-7.5;
}.e75_20 { 
	color:rgba(0, 0, 0, 1);
	width:199px;
	height:93px;
	position:absolute;
	left:771px;
	top:867px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:-7.5;
}.e75_21 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:133px;
	position:absolute;
	left:1103px;
	top:734px;
	font-family:Inter;
	text-align:left;
	font-size:110px;
	letter-spacing:-7.5;
}.e75_22 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:93px;
	position:absolute;
	left:1063px;
	top:867px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:-7.5;
}.e75_618 { 
	width:70px;
	height:71px;
	position:absolute;
	left:1374px;
	top:60px;
	background-image:url(images/topic.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_619 { 
	width:35px;
	height:47px;
	position:absolute;
	left:1425px;
	top:49px;
	background-image:url(images/2_key.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_620 { 
	width:80px;
	height:96px;
	position:absolute;
	left:1549px;
	top:49px;
	background-image:url(images/bell.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_621 { 
	width:35px;
	height:47px;
	position:absolute;
	left:1592px;
	top:47px;
	background-image:url(images/2_key.png);
	background-repeat:no-repeat;
	background-size:cover;
}