.46_544 { 
	overflow:hidden;
}.e46_544 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e46_545 { 
	width:419px;
	height:441px;
	position:absolute;
	left:60px;
	top:-116px;
	background-image:url(images/imageedit_5_6924501182_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_548 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:1156px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e46_549 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:129px;
	height:48px;
	position:absolute;
	left:548px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e46_550 { 
	width:147px;
	height:112px;
	position:absolute;
	left:185px;
	top:403px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_551 { 
	color:rgba(0, 0, 0, 1);
	width:1153px;
	height:184px;
	position:absolute;
	left:332px;
	top:403px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e46_555 { 
	width:147px;
	height:112px;
	position:absolute;
	left:185px;
	top:558px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_556 { 
	color:rgba(0, 0, 0, 1);
	width:1210px;
	height:184px;
	position:absolute;
	left:332px;
	top:558px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e46_558 { 
	width:67px;
	height:62px;
	position:absolute;
	left:327px;
	top:689px;
	background-image:url(images/checked_checkbox.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_559 { 
	width:61px;
	height:64px;
	position:absolute;
	left:545px;
	top:689px;
	background-image:url(images/multiplication.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_560 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:44px;
	position:absolute;
	left:406px;
	top:695px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:-3.5;
}.e46_561 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:44px;
	position:absolute;
	left:630px;
	top:697px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:-3.5;
}.e46_579 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:288px;
	height:48px;
	position:absolute;
	left:771px;
	top:74px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e75_633 { 
	width:70px;
	height:71px;
	position:absolute;
	left:1374px;
	top:60px;
	background-image:url(images/topic.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_634 { 
	width:80px;
	height:96px;
	position:absolute;
	left:1549px;
	top:49px;
	background-image:url(images/bell.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_635 { 
	width:34px;
	height:47px;
	position:absolute;
	left:1428px;
	top:49px;
	background-image:url(images/3_key.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_637 { 
	color:rgba(0, 0, 0, 1);
	width:1153px;
	height:184px;
	position:absolute;
	left:338px;
	top:273px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e75_638 { 
	width:147px;
	height:112px;
	position:absolute;
	left:185px;
	top:245px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}