.75_546 { 
	overflow:hidden;
}.e75_546 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e75_547 { 
	width:419px;
	height:441px;
	position:absolute;
	left:61px;
	top:-117px;
	background-image:url(images/imageedit_5_6924501182_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_551 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:1160px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e75_552 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:129px;
	height:48px;
	position:absolute;
	left:548px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e75_555 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:288px;
	height:48px;
	position:absolute;
	left:774px;
	top:73px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e75_569 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:58px;
	position:absolute;
	left:547px;
	top:342px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-7.5;
}.e75_592 { 
	color:rgba(0, 0, 0, 1);
	width:424px;
	height:58px;
	position:absolute;
	left:547px;
	top:468px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-7.5;
}.e75_593 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:222px;
	height:36px;
	position:absolute;
	left:1055px;
	top:470px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:-7.5;
}.e75_594 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:198px;
	height:36px;
	position:absolute;
	left:1402px;
	top:982px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:-7.5;
}.e75_612 { 
	color:rgba(0, 0, 0, 1);
	width:415px;
	height:58px;
	position:absolute;
	left:548px;
	top:594px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-7.5;
}.e75_613 { 
	color:rgba(0, 0, 0, 1);
	width:338px;
	height:58px;
	position:absolute;
	left:547px;
	top:720px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-7.5;
}.e75_622 { 
	width:70px;
	height:71px;
	position:absolute;
	left:1374px;
	top:60px;
	background-image:url(images/topic.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_624 { 
	width:80px;
	height:96px;
	position:absolute;
	left:1549px;
	top:49px;
	background-image:url(images/bell.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_626 { 
	width:34px;
	height:47px;
	position:absolute;
	left:1428px;
	top:49px;
	background-image:url(images/3_key.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e75_632 { 
	width:34px;
	height:47px;
	position:absolute;
	left:1595px;
	top:47px;
	background-image:url(images/3_key.png);
	background-repeat:no-repeat;
	background-size:cover;
}