.47_38 { 
	overflow:hidden;
}.e47_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e46_564 { 
	width:419px;
	height:441px;
	position:absolute;
	left:57px;
	top:-117px;
	background-image:url(images/imageedit_5_6924501182_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_70 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:225px;
	top:321px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_78 { 
	background-color:rgba(187.2523257136345, 187.2523257136345, 187.2523257136345, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:225px;
	top:531px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_84 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:275px;
	top:531px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_85 { 
	width:74px;
	height:59px;
	position:absolute;
	left:154px;
	top:176px;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_86 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1348px;
	height:57px;
	position:absolute;
	left:225px;
	top:175px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.47_86 { 
	border:4px solid rgba(0, 0, 0, 1);
}.e47_87 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:39px;
	position:absolute;
	left:769px;
	top:185px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:-3.5;
}.e47_88 { 
	width:90px;
	height:90px;
	position:absolute;
	left:723px;
	top:576px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_91 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:225px;
	top:321px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_106 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:225px;
	top:677px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_92 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:225px;
	top:531px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}.e47_93 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:275px;
	top:531px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_94 { 
	width:90px;
	height:90px;
	position:absolute;
	left:723px;
	top:576px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_90 { 
	width:588px;
	height:199px;
	position:absolute;
	left:244px;
	top:324px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_107 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:225px;
	top:678px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_108 { 
	background-color:rgba(187.2523257136345, 187.2523257136345, 187.2523257136345, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:225px;
	top:888px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_109 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:275px;
	top:888px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_110 { 
	width:90px;
	height:90px;
	position:absolute;
	left:723px;
	top:933px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_112 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:225px;
	top:888px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}.e47_113 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:275px;
	top:888px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_114 { 
	width:90px;
	height:90px;
	position:absolute;
	left:723px;
	top:933px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_116 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:852px;
	top:321px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_117 { 
	background-color:rgba(187.2523257136345, 187.2523257136345, 187.2523257136345, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:852px;
	top:531px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_118 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:902px;
	top:531px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_119 { 
	width:90px;
	height:90px;
	position:absolute;
	left:1350px;
	top:576px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_120 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:852px;
	top:321px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_121 { 
	background-color:rgba(246.49999290704727, 244.4458231329918, 244.4458231329918, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:852px;
	top:677px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_122 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:852px;
	top:531px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}.e47_123 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:902px;
	top:531px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_124 { 
	width:90px;
	height:90px;
	position:absolute;
	left:1350px;
	top:576px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_126 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:627px;
	height:356.5px;
	position:absolute;
	left:852px;
	top:678px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_127 { 
	background-color:rgba(187.2523257136345, 187.2523257136345, 187.2523257136345, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:852px;
	top:888px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e47_128 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:902px;
	top:888px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_129 { 
	width:90px;
	height:90px;
	position:absolute;
	left:1350px;
	top:933px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_130 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:627px;
	height:146px;
	position:absolute;
	left:852px;
	top:888px;
	border-top-left-radius:46px;
	border-top-right-radius:46px;
	border-bottom-left-radius:46px;
	border-bottom-right-radius:46px;
}.e47_131 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:86px;
	position:absolute;
	left:902px;
	top:888px;
	text-align:left;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_132 { 
	width:90px;
	height:90px;
	position:absolute;
	left:1350px;
	top:933px;
	background-image:url(images/apartment.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_567 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:1156px;
	top:67px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e46_568 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:129px;
	height:48px;
	position:absolute;
	left:544px;
	top:67px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e46_569 { 
	width:70px;
	height:71px;
	position:absolute;
	left:1370px;
	top:54px;
	background-image:url(images/topic.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_570 { 
	width:35px;
	height:47px;
	position:absolute;
	left:1421px;
	top:43px;
	background-image:url(images/2_key.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_571 { 
	width:80px;
	height:96px;
	position:absolute;
	left:1545px;
	top:43px;
	background-image:url(images/bell.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e46_572 { 
	width:35px;
	height:47px;
	position:absolute;
	left:1588px;
	top:41px;
	background-image:url(images/2_key.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_134 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:16px;
	height:628px;
	position:absolute;
	left:1507px;
	top:352px;
}.e47_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:1419px;
	height:786px;
	position:absolute;
	left:154px;
	top:285px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.47_135 { 
	border:4px solid rgba(0, 0, 0, 1);
}.e46_575 { 
	color:rgba(15.000000055879354, 34.00000177323818, 203.00000309944153, 1);
	width:288px;
	height:48px;
	position:absolute;
	left:770px;
	top:67px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:-3.5;
}.e47_138 { 
	width:577px;
	height:205px;
	position:absolute;
	left:875px;
	top:321px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_140 { 
	width:585px;
	height:200px;
	position:absolute;
	left:244px;
	top:682px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_142 { 
	width:573px;
	height:200px;
	position:absolute;
	left:878px;
	top:682px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}